﻿@{
    ViewData["Title"] = "Home Page";
}
@model IEnumerable<Phone> 



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<a href="/Geometry/Thanks"> </a>

<table class="table table-bordered">
    <tr>
        <th>
          PhoneName
        </th>
        <th>
          Company
        </th>
        <th>
          Country
        </th>
        <th>
          Price($)
        </th>
    </tr>
    @foreach (var phone in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelitem => phone.Name)
            </td>
            <td> @Html.DisplayFor(modelitem => phone.Company)
            </td>
            <td>@Html.DisplayFor(modelitem => phone.Country)
            </td>
            <td>
                $@Html.DisplayFor(modelitem => phone.Price)
            </td>
        </tr>
    }

</table>