﻿@{
    ViewData["Title"] = "Geometry Page";
}
<h1>Welcome!</h1>

<p>Id = @ViewBag.Id</p>
<p>Quantity = @ViewBag.Quantity</p>
<p>Stroka = @ViewBag.Stroka</p>

<a class="nav-link text-dark"  asp-controller="Geometry" asp-action="DownloadFile">Download PhysicalFile</a>
<br/>
<a class="nav-link text-dark" asp-controller="Geometry" asp-action="GetFileBytes">Download GetFileBytes</a>
<br />
<a class="nav-link text-dark" asp-controller="Geometry" asp-action="GetFileStream">Download GetFileStream</a>
<br />
<a class="nav-link text-dark" asp-controller="Geometry" asp-action="GetVirtualFile">Download GetVirtualFile</a>