﻿@{
    ViewData["Title"] = "Thanks";
}

<h1>
    Thanks
</h1>
<div class="jumbotron text-center">
    <h1 class="display-3">Thank You! Your character earned @ViewBag.Points</h1>
    <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
    <p></p>
    <hr>
    <p>
        Having trouble? <a href="">Contact us</a>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="https://localhost:5001" role="button">Continue to homepage</a>
    </p>
    <div class="row">
        @for (var i = 1; i <= 3; i++)
        {
            <div class="col-md-4">

                <h2>Information</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
            </div>

        }
        
      



        </div>
    </div>

   @functions{ public int GetFactorial(int n)

       {

           int result = 1;

           for (int i = 1; i <= n; i++)

               result *= i;

           return result;

       }
   }



        <div>Факториал числа 5 равен: @GetFactorial(5)</div>