﻿@model MobilePhones.Models.Phone



@{
    ViewData["Title"] = "Details";
}
 

<h1>Details</h1>
@{
    double KGS = Model.Price * 68;
    double RUB = Model.Price * 57;
}

<div>
    <h4>Phone</h4>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)$
            <p> in KGS: @KGS </p>
            <p> in RUB: @RUB </p>
        </dd>


        @if (Model.Company == "Apple")
        {
            <dt class="col-sm-2">
                <a href="https://www.apple.com/">https://www.apple.com</a>
                <a>Главные сайт компании Apple</a>
            </dt>
        }
        else if (Model.Company == "Samsung")
        {
            <dt class="col-sm-2">

                <a href="https://www.samsung.com/ru/">https://www.samsung.com</a>
                <a>Главные сайт компании Samsung</a>
            </dt>
        }
        else if (Model.Company == "Mi")
        {

            <dt class="col-sm-2">

                <a href="https://ru.event.mi.com/ru/sales2020/2th-anniversary-2">https://www.mi.com</a>
                <a>Главные сайт компании Mi</a>
            </dt>
        }
        else if (Model.Company == "Huawei")
        {

            <dt class="col-sm-2">

                <a href="https://www.huawei.com/ru/">https://www.huawei.com</a>
                <a>Главные сайт компании Huawei</a>
            </dt>
        }
        else
        {
            <a> Сайт не указан.</a>
            
        }

      
   
        
    </dl>
       
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
